<div class="jumbotron">
  <h1>
    <%= @intro[0] %>
  </h1>
  <p>
    <%= @intro[1] %>
  </p>
  <div class="scatter"></div>
  <p><a class="btn btn-primary btn-lg" href="/technologies">Learn more</a></p>
</div>
