<div class="center-text">
  <h3>
    Technologies We Use
  </h3>
  <p>
    <%= @technology_blurb %>
  </p>
</div>
<% @technologies.each do |technology| %>
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        <%= image_tag(technology[:image], class: "responsive-img") %>
      </div>
      <div class="col s10">
        <h5 class="black-text">
          <%= technology[:description] %>
        </h5>
        <h5 class="black-text">
          <a href="http://www.url.com" target="_blank">Project Page</a>
        </h5>
      </div>
    </div>
  </div>
<% end %>
